.header {
    border-bottom: 1px solid #ccc1ad91;
    margin-bottom: 50px;
}

.logo > img {
    width: 55px;
    height: 55px;
    margin-right: 35px;
    padding: 5px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: #111111;
    padding: 30px 0;
}
.user-profile-picture {
    width: 35px;
    height: auto;
    border-radius: 50%;
}

.nav > .button-container {
    flex-grow: 2;
}

.nav > .button-container > .signup-btn {
    width: 125px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    background-color: #111111 !important;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

