.serviceDetails {
    background-color: #FDF9F2;
    margin-bottom: 100px;
    text-align: center;
}

.service-details-box-container {
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    margin-top: 10px;


}

.service-details-box-container>img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.programme-name {
    line-height: 50px;
    color: #111111;
    margin: 30px 0;
}

.programme-description {
    line-height: 22px;
    color: #636363;
    width: 600px;
    margin: 15px auto;
}

.programme-price {
    font-size: 22px;
    color: #111111;
    font-weight: 700;
    margin: 15px auto;
}

.programme-button {
    margin-bottom: 50px;
}